.mainAuth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
h2{
  margin-bottom: 20px;
}
input{
  margin-bottom: 20px;
}
.btnAuth, .btnReg{
  border-radius: 8px;
  background-color:#fa9179;
  border: 0;
  width: 120px;
  color: white;
  font-size: 18px;
  padding: 5px 0px;
  text-align: center;
}
.btnAuth:hover, .btnReg:hover{
  color: black;
  cursor: pointer;
}
label{
  text-align: center;
  margin-bottom: 5px;
}