.header{
  flex-basis: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.blockTitleHeader{
  flex-basis: 30%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.titleHeader{
  color: #fa9179;
  font-weight: 800;
  border: 3px solid rgb(73, 71, 71);
  padding: 5px 30px;
  cursor: pointer;
  text-align: center;
  font-size: 26px;
  display: flex;
  justify-content: center;
}
.titleHeader>span{
  color: rgb(73, 71, 71);
}
#logo{
  fill: #fa9179;
  margin-right: 10px;
  
}
.blockMenuHeader{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuHeaderAuthReg{
  flex-basis: 50%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 20px;
}

.menuHeaderMain{
  flex-basis: 50%;
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content:space-evenly;
  border-bottom: 3px solid rgb(136, 136, 136);
}
.menuHeaderMain>div{
  width: 25%;
  box-shadow: 0 3px 0 0 #fa9179;
  padding-bottom: 5px;
  text-align: center;
}
.menuHeaderAuthReg>button:nth-child(1){
  margin-right: 20px;
}
.menuHeaderAuthReg>button{
  border-radius: 8px;
  background-color:#fa9179;
  border: 0;
  width: 120px;
  color: white;
  font-size: 16px;
}
.menuHeaderAuthReg>button:hover{
  cursor: pointer;
  color: black;
}
.menuHeaderMain>div:hover{
  box-shadow: 0 6px 0 0 #fa9179;
  cursor: pointer;
}
